html {
	font-size: calc(0.5vh + 0.5vw + 10px);
}

html, body {
	position: fixed;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

body{
	font-size: 1.25rem;
	font-family: sans-serif;
	display: grid;
	place-content: center;
	background-image: linear-gradient(-20deg,lightblue, white, lightblue);
}

main{
	position: relative;
	box-sizing: border-box;
	height: 80vh;
	min-height: 80%;
	width: 99vw;
	max-width: 600px;
	/*border: 1px solid black;*/
	border-radius: 1rem;
	box-shadow: 0 0 5rem gray;
	background-color: #eee;

}

#chatWindow {
	width: 100%;
	height: 64vh;

}

#chatInputAssembly {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);

	border-radius: 0.5rem;
	display: grid;
	place-content: center;
	width: 99vw;
	max-width: 595px;
	height: 14vh;
	box-shadow: 3px 3px 5px gray;
}

#typePrompt {
	height: 5vh;
	font-size: 0.8rem;
	display: grid;
	place-content: center;	
}

#chatTextArea {
	display: block;
	width: 99vw;
	max-width: 500px;
	padding-left: 2rem;
	height: 8vh;
	font-size: 1.5rem;
}
/*
<main>
	<div id="chatWindow"></div>	
	
	<div id="chatInputAssembly">
		<div id="typePrompt" class="chatAssembly">Type &#x21e8;</div>
		<textarea type="text" id="chatTextArea" class="chatAssembly"></textarea>
	</div>
	
</main>
*/
